.gridDisplay {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.tripCard {
    margin: 5px;
    padding: 2px;
}

.tripName {
    color: #242221;
    font-weight: 500;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    display: inline-block;
    text-decoration: none;
    position: relative;
}

.tripCard:hover .tripName {
    color: red
}